google-re2
pyxurls
gdown==v4.6.3
urlobject
huggingface_hub>=0.17
di-toolkit
click
pandas
tabulate
pyquery
pyrfc6266
git+https://github.com/deepghs/waifuc.git@main#egg=waifuc
orator
dateparser
lxml<5
hfutils>=0.0.6